/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src/app/fonts.jsx","import":"Gloock","arguments":[{"weight":"400","subsets":["latin"]}],"variableName":"gloock"} ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Gloock_7aface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/31c8a9049bf14d26.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* latin-ext */
@font-face {
  font-family: '__Gloock_7aface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/58dbb989e6651439.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Gloock_7aface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/59c1a3d5d612e35b.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}.__className_7aface {font-family: '__Gloock_7aface';font-weight: 400;font-style: normal
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src/app/fonts.jsx","import":"Bebas_Neue","arguments":[{"weight":"400","subsets":["latin"]}],"variableName":"bebas"} ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* latin-ext */
@font-face {
  font-family: '__Bebas_Neue_8c8ae6';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/8be698a80cb51f2b-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Bebas_Neue_8c8ae6';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/86667d917ceb322f-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Bebas_Neue_Fallback_8c8ae6';src: local("Arial");ascent-override: 116.50%;descent-override: 38.83%;line-gap-override: 0.00%;size-adjust: 77.25%
}.__className_8c8ae6 {font-family: '__Bebas_Neue_8c8ae6', '__Bebas_Neue_Fallback_8c8ae6';font-weight: 400;font-style: normal
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[11].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src/app/fonts.jsx","import":"Libre_Baskerville","arguments":[{"weight":"400","subsets":["latin"]}],"variableName":"baskervville"} ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* latin-ext */
@font-face {
  font-family: '__Libre_Baskerville_596187';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/3e0204632fc66b80-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Libre_Baskerville_596187';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/640ece80909a508b-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Libre_Baskerville_Fallback_596187';src: local("Times New Roman");ascent-override: 75.76%;descent-override: 21.09%;line-gap-override: 0.00%;size-adjust: 128.03%
}.__className_596187 {font-family: '__Libre_Baskerville_596187', '__Libre_Baskerville_Fallback_596187';font-weight: 400;font-style: normal
}

